<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>SpeedSheet</title>
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="jumbotron">
            <h1 class="display-4">SpeedSheet</h1>
            <p class="lead">Never wait for your calculations again.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-9">
          <table id="sheet" class="table table-sm table-bordered text-right">
            <thead>
              <tr class="text-center">
                <th scope="col" style="width: 10%;"></th>
                {{#each sheet_view.cols}}
                <th scope="col" style="width: 15%;">{{this}}</th>
                {{/each}}
              </tr>
            </thead>
            <tbody>
              {{#each sheet_view.rows}}
              <tr>
                <th scope="row">{{this.row}}</th>
                {{#each this.cells}}
                <td id="{{this.name}}" data-formula="{{this.formula}}">{{this.value}}</td>
                {{/each}}
              </tr>
              {{/each}}
            </tbody>
          </table>

          <form id="formula_form"><fieldset id="formula_fieldset" disabled>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">f(x)=</span>
              </div>
              <input id="formula" name="formula" type="text" class="form-control" placeholder="Formula" autocomplete="off">
              <div class="input-group-append">
                <button id="enter" class="btn btn-primary" type="submit">Enter</button>
              </div>
            </div>
          </fieldset></form>
        </div>

        <div class="col-3">
          <div class="form-group">
            <textarea id="log" readonly class="form-control"></textarea>
          </div>
          <div class="form-group">
            <button id="clear" type="button" class="btn btn-primary col-12">Clear computation log</button>
          </div>
        </div>
      </div>
    </div>

    <footer class="fixed-bottom">
      <div class="footer-copyright text-center py-1">
        <span class="text-muted">© 2019 Copyright: <a href="https://twitter.com/hurryabit" target="blank">Martin Huschenbett</a></span>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="static/speedsheet.js"></script>
  </body>
</html>
